

.words{
    font-size: 32px;
    font-weight: 400;
    margin-top: -32px;
}

.numbers{
    font-size: 80px;
    font-weight: 900;
}

.separator{
    margin-top: 18px;
    font-size: 80px;
    font-weight: 900;
}

.countdown{
    background:url('../../../../assets/img/bg.png')
    no-repeat center center;
    background-size:100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.image{
    background: url('../../../../public/image/banner/bg01.svg');
    background-size: cover;
}

.banner{
    background: url('../../../../public/image/banner/banner-desktop.svg');
    background-position: center bottom;
    background-size: 100% auto;
}