
.countdown{
    background:url('/public/bg.svg')
    no-repeat center center;
    background-size:100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.image{
    background: url('../../../public/image/banner/bg01.svg');
    background-size: cover;
    background-position: center;
}

.banner{
    background: url('../../../public/image/banner/banner-desktop.svg') no-repeat;
    background-size: 100% auto;
    background-position: center;
    min-height: 215px;
    max-width: 100%;
}

.bannerMobile{
    background: url('../../../public/image/banner/banner-mobile.png') no-repeat;
    background-size: cover;
    background-position: center;

}

@media (max-width: 1280px){
    .banner{
        background-size: cover;
    }
}