.container{
    background-repeat: no-repeat;
    background-size: cover;
    background: url('../../public/bg.png');
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    background-size:100%;
}

.words{
    font-size: 32px;
    font-weight: 400;
    margin-top: -32px;
}

.numbers{
    font-size: 80px;
    font-weight: 900;
}

.separator{
    margin-top: 18px;
    font-size: 80px;
    font-weight: 900;
}

.spicyRiceShadow{
    font-family: 'Spicy Rice';
    font-style: normal;
    font-weight: 400;
    text-shadow: 6px 6px 2px rgb(0, 0, 0);
    -webkit-text-stroke: 2px black;
}

.rainbow{
    margin-top: 50px;
    background-size: cover;
    background: url('../../public/image/halloffame/rainbow-justcircle1.svg') no-repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center top;
}

.hallOfFame{
    background-size: cover;
    background: url('../../public/image/halloffame/hall-of-fame.svg') no-repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center top;
}

.carousel{
    background: url('../../public/image/slider/slider1.svg') no-repeat;
    background-size:100%;
    background-position: center;
    width: 100%;
    height: 60vh;
}