
.huntsen {
    color: red;
}

.container{
    background-repeat: no-repeat;
    background-size: cover;
    background: url('../../public/bg.png');
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    background-size:100%;
}

.words{
    font-size: 32px;
    font-weight: 400;
    margin-top: -32px;
}

.numbers{
    font-size: 80px;
    font-weight: 900;
}

.separator{
    margin-top: 18px;
    font-size: 80px;
    font-weight: 900;
}
