

.words{
    font-size: 32px;
    font-weight: 400;
    margin-top: -32px;
}

.numbers{
    font-size: 80px;
    font-weight: 900;
}

.separator{
    margin-top: 18px;
    font-size: 80px;
    font-weight: 900;
}