

.words{
    font-size: 36px;
    font-weight: 700;
}

.numbers{
    font-size: 80px;
    font-weight: 900;
}

.separator{
    margin-top: 18px;
    font-size: 80px;
    font-weight: 900;
}

@media screen and (max-width: 767px) {
    .words{
        font-size: 1em;
        margin-top: 0;
        line-height: 5px;
        font-weight: 900;
    }
    
    .numbers{
        margin-top: 0;
        font-size: 2em;
    }
    
    .separator{
        margin-top: 10px;
        font-size: 2em;
        font-weight: 900;
    }

    .spicyRiceShadow{
        font-family: 'Spicy Rice';
        font-style: normal;
        font-weight: 300;
        text-shadow: 2px 2px 2px rgb(0, 0, 0);
        -webkit-text-stroke: 1px black;
    }
}

.countdownStroke{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.spicyRiceShadow{
    font-family: 'Spicy Rice';
    font-style: normal;
    text-shadow: 6px 6px 2px rgb(0, 0, 0);
    -webkit-text-stroke: 2px black;
}